body{
    font-size: 3rem;
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 1.5;
}
.container-fluid{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.heading{
    font-size: 3rem;
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 1.5;
}
#title{
    background-color: #ff4c68;
    color: #ffff;
}
.navbar-nav {
    margin-left: auto;   
}
.nav-bar-edit{
    color: white; 
    font-size: 2.3rem; 
    line-height: 1; 
    padding-bottom: 2%
}
